.navbar{
	margin-bottom: 0px;
}
#logo{
	height: 250%;
	margin-top: -15px;
	margin-right: 7px;
}
/*Footer CSS, more needs to be done*/
footer{
	position:absolute;
	bottom:0px;
	background:#333;
	color:#eee;
	font-size:11px;
	padding:20px;
		
}
ul.unstyled{
	list-style:none;
	padding:0px;